body {
    background-color: #efefef;
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #DEDEDE
}
.topNavBar{
    padding: 20px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.topNavBar a.logo {
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 3px;
}
.topNavBar a.logo .rs {
    color: #e6686a;
}
.topNavBar a.logo .card {
    color: #9a9da2;
}
.topNavBar nav {
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
}
.topNavBar nav ul li {
    float: left;
    margin-left: 14px;
    margin-right: 14px;
}
.topNavBar nav ul li a {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    border: 3px solid transparent;
    display: block;
}
.topNavBar nav ul li a:hover {
    border-bottom: 3px solid #e06567;
}
.banner {
    height: 515px;
    background: url('./img/rs-cover.jpg');
    background-position: center center ;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background: rgba(0,0,0,0.8);
}
body main {
    margin-top: -340px;
}
.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .pictureAndText .picture{
    float: left;
}
.userCard .pictureAndText .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndText .text .welcome{
    background-color: #e6686a;
    color: #fff;
    display: inline-block;
    padding: 5px 16px;
    position: relative;
    line-height: 22px;
}
.userCard .pictureAndText .welcome .triangle {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-width: 0;
    border-left-color: #e6686a;
    position: absolute;
    left: 4px;
    top: 100%;
    display: block;
}
.userCard .pictureAndText .text h1{
    margin-top: 30px;
}
.userCard .pictureAndText .text hr {
    margin: 20px 0;
}
.userCard .pictureAndText dl dt,
.userCard .pictureAndText dl dd {
    float: left;
    padding: 5px 0;
}
.userCard .pictureAndText dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard .pictureAndText dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard .media{
    background-color: #E6686A;
    text-align: center;
}
.userCard .media a {
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
    line-height: 30px;
}
.userCard .media a:hover {
    background: #CF5D5F;
}
.userCard .media svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
.downloadResume-wrapper{
    text-align: center;
}
.downloadResume {
    margin: 32px 0;
    font-size: 14px;
    font-weight: bold;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    transition: all .1s;
    color: #3d4451;
    line-height: 16px;
}
.downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.selfIntroduction {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}
.skills,
.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.skills h2,
.portfolio h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 30px;
}
.skills ol {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    background: #fff;
}
.skills ol h3 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
}
.skills ol li {
    float: left;
    width: 48%;
}
.skills ol li:nth-child(even) {
    float: right;
}
.skills ol .progressBar{
    height: 5px;
    border-radius: 2px;
    margin: 4px 0 40px;
    background-color: #FAE1E1;
}
.skills ol .progressBar .progress{
    width: 50%;
    height: 100%;
    background: #E6686A;
}
.portfolio {
    text-align: center;
    margin-bottom: 100px;
}
.portfolio nav {
   display: inline-block;
}
.portfolio nav ol {
    display: inline-block;

}
.portfolio nav ol li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.portfolio nav ol li:nth-child(1) {
    margin-left: 0;
}
.portfolio .bar{
    height: 5px;
    background: #fff;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 28px;
}
.portfolio .bar .bar-inner{
    width: 100px;
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}
.portfolio .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 50px;
}
.portfolio .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
.portfolio .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}
.portfolio .works{
    position: relative;
    height: 597px;
}
.portfolio .works .big,
.portfolio .works .small{
    position: absolute;
}
.portfolio .works .big{
    top: 0;
    left: 0;
}
.portfolio .works img {
    vertical-align: top;
}